.jumbotron {
  margin-bottom: 0;
  background-color: white;
}

.navbar {
  /*border: 1px solid black;*/
  height: 20px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  /*font-family: spaceranger;*/
  font-size: 20px;
  /*background-color: black;*/

  text-align: center;
}

.navButton {
  display: inline-block;
  text-align: center;
  margin-left: 0;
  padding-right: 5px;
  padding-left: 5px;
  /*border: 1px solid black;*/
}

.subjectContainer {
  margin: 0px -200px 0 -200px;
  padding: 50px 200px 10px 200px;

  text-align: center;
  /*border: 1px solid black;*/
}

.homeimage {
  padding-bottom: 600px;
  background-image: url("/styles/images/cats_dogs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonContainer {
  /*border: 1px solid black;*/
  text-align: center;
  padding-right: 30px;
}

.getPetButton {
  height: 50px;
  padding-top: 5px
  margin-top: 10px;
  margin-bottom: 10px;
  /*font-family: spaceranger;*/
  /*font-size: 20px;*/
  /*background-color: black;*/

  /*text-align: center;*/

}

.favoritePetButton {
  height: 50px;
  padding-top: 5px
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.container {
  /*margin: 5px auto 5px auto;*/
  /*padding: 50px 200px 10px 200px;*/
  /*border: 1px solid black;

  text-align: center;*/
/*}*/



/*============ DROP DOWN BUTTON ================*/

.dropbtn {
    background-color: #2864ae;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2872ac;
}
#myInput {
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  z-index: 900;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

/*============END DROP DOWN BUTTON=============*/
